<template>
  <div>
    <div class="field" v-for="branch in branches" :key="branch.id" :disabled="disabled">
      <b-radio v-model="model" :native-value="branch.id" :disabled="disabled">{{branch.name}}</b-radio>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import { Field, Radio } from 'buefy';
Vue.use(Field);
Vue.use(Radio);

export default {
  name: 'BranchSelect',
  props: ['value', 'branches', 'disabled'],
  methods: {
    /*handleInput() {
      this.$emit('input', this.content);
    }*/
  },
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit('input', val);
      },
    },
  }
}
</script>
