<template>
    <div id="car-choose">
        <slot></slot>
        <template v-if="fatalError">
            <div class="fatal-error">
                Что-то пошло не так. Пожалуйста,
                <a href="javascript:document.location.reload(true)"
                    >перезагрузите страницу</a
                >.
            </div>
        </template>
        <template v-if="!haveCookie && !fatalError">
            <template v-if="userData.manufacturer == 0">
                <div class="columns is-multiline has-text-left">
                    <div
                        class="column is-one-quarter"
                        v-for="mn in manufacturers"
                        v-bind:key="mn.id"
                    >
                        <b-button
                            type="is-text"
                            @click="selectManufacturer(mn.id)"
                            v-smooth-scroll="scrollOptions"
                            class="has-text-primary"
                            tag="a"
                            :href="anchor"
                            >{{ mn.name }}</b-button
                        >
                    </div>
                    <li class="column is-full others">
                        <b-button
                            @click="getAllManufacturers()"
                            v-show="!allManufacturersFetched"
                            v-smooth-scroll="scrollOptions"
                            type="is-text"
                            class="others has-text-primary"
                            icon-right="caret-down"
                            tag="a"
                            :href="anchor"
                            >Все производители</b-button
                        >
                    </li>
                </div>
            </template>
            <template
                v-if="
                    userData.manufacturer != 0 &&
                        !yearEntered &&
                        userData.model == 0
                "
            >
                <div class="year-wrapper">
                    <b-field
                        label="Год выпуска"
                        position="is-centered"
                        size="is-medium"
                        horizontal
                    >
                        <b-select
                            icon="calendar-alt"
                            name="year"
                            size="is-medium"
                            v-model.number="userData.year"
                        >
                            <option
                                v-for="year in yearsRange()"
                                :value="year"
                                v-bind:key="year"
                                >{{ year }}</option
                            >
                        </b-select>
                    </b-field>
                </div>

                <br />

                <center>
                    <b-button
                        @click="clearManufacturer()"
                        v-smooth-scroll="scrollOptions"
                        type="is-text"
                        class="has-text-primary"
                        icon-left="caret-left"
                        tag="a"
                        :href="anchor"
                        >Назад</b-button
                    >
                </center>
            </template>
            <template
                v-if="
                    userData.manufacturer != 0 &&
                        yearEntered &&
                        userData.model == 0
                "
            >
                <div class="columns is-multiline has-text-left">
                    <div class="column is-full others">
                        <b-button
                            @click="clearYear()"
                            v-smooth-scroll="scrollOptions"
                            type="is-text"
                            class="has-text-primary"
                            icon-left="caret-left"
                            tag="a"
                            :href="anchor"
                            >Назад</b-button
                        >
                    </div>

                    <div
                        class="column is-one-quarter others"
                        v-for="md in models"
                        v-bind:key="md.id"
                    >
                        <b-button
                            @click="selectModel(md.id)"
                            v-smooth-scroll="scrollOptions"
                            type="is-text"
                            class="has-text-primary"
                            tag="a"
                            :href="anchor"
                            >{{ md.name }}
                            <span class="year-def"
                                >({{ md.start_year }}–{{
                                    yearWrap(md.end_year)
                                }})</span
                            ></b-button
                        >
                    </div>

                    <template
                        v-if="
                            models.length == popularModelsLimit &&
                                !allModelsFetched
                        "
                    >
                        <div class="column is-full others">
                            <b-button
                                @click="getAllModels()"
                                v-smooth-scroll="scrollOptions"
                                type="is-text"
                                class="has-text-primary"
                                icon-right="caret-down"
                                tag="a"
                                :href="anchor"
                                >Все модели</b-button
                            >
                        </div>
                    </template>
                </div>
            </template>
        </template>
        <!--<template v-if="haveCookie && !fatalError">
            <div class="previousChoose">
                Выбран автомобиль: {{car.manufacturerName}} {{car.name}} <span class="year-def">({{car.year}} г.)</span> <br /><br /><a href="#car-choose" @click="selectAnother()" v-smooth-scroll="scrollOptions">Выбрать другой?</a>
            </div>
        </template>-->
    </div>
</template>

<script>
import * as Cookies from "tiny-cookie";

function carChooseDefaultData() {
    return {
        userData: {
            manufacturer: 0,
            model: 0,
            year: 0,
        },
        manufacturers: [],
        models: [],
        allManufacturersFetched: false,
        allModelsFetched: false,
        yearEntered: false,
        fatalError: false,
        haveCookie: false,
        car: {},
        popularModelsLimit: 15, // Внимательно тут. Должно точно совпадать с ограничием в модели
        apiURL: "https://shop.ya7auto.ru/cardb/",
    };
}

export default {
    name: "CarPicker",
    props: {
        anchor: String,
    },
    data: function() {
        return carChooseDefaultData();
    },
    mounted: function() {
        this.boot();
    },
    methods: {
        boot: function() {
            //Vue.cookies.config('365d');
            // Проверяем наличие кука. Если автомобиль ранее выбирали, то устанавливаем его обратно. Если нет – инициируем выбор
            let carIDcookie = parseInt(Cookies.get("car_model_id"));

            if (carIDcookie > 0) {
                this.haveCookie = true;
                this.userData.year = parseInt(Cookies.get("car_year"));
                this.selectModel(carIDcookie);
            } else {
                // Посылаем событие сброса родителю
                this.$emit("reset");
                this.getPopularManufacturers();
            }
        },
        yearWrap: function(year) {
            if (parseInt(year)) {
                return year + " г.";
            } else {
                return "н.в.";
            }
        },
        getAllManufacturers: function() {
            fetch(this.apiURL + "manufacturer/?action=get_all")
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        this.fatalError = true;
                    }
                })
                .then((json) => {
                    if (json.status == "ok") {
                        this.manufacturers = json.data;
                        this.allManufacturersFetched = true;
                    } else {
                        this.fatalError = true;
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.fatalError = true;
                });
        },
        getPopularManufacturers: function() {
            fetch(this.apiURL + "manufacturer/?action=get_popular")
                .then((response) => {
                    console.log(response);
                    if (response.ok) {
                        return response.json();
                    } else {
                        this.fatalError = true;
                    }
                })
                .then((json) => {
                    if (json.status == "ok") {
                        this.manufacturers = json.data;
                    } else {
                        this.fatalError = true;
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.fatalError = true;
                });
        },
        getPopularModels: function() {
            fetch(
                this.apiURL +
                    "model/?action=get_popular&year=" +
                    this.userData.year +
                    "&manufacturer_id=" +
                    this.userData.manufacturer
            )
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        this.fatalError = true;
                    }
                })
                .then((json) => {
                    if (json.status == "ok") {
                        this.models = json.data;
                    } else {
                        this.fatalError = true;
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.fatalError = true;
                });
        },
        getAllModels: function() {
            fetch(
                this.apiURL +
                    "model/?action=get_all&year=" +
                    this.userData.year +
                    "&manufacturer_id=" +
                    this.userData.manufacturer
            )
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        this.fatalError = true;
                    }
                })
                .then((json) => {
                    if (json.status == "ok") {
                        this.models = json.data;
                        this.allModelsFetched = true;
                    } else {
                        this.fatalError = true;
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.fatalError = true;
                });
        },
        selectManufacturer: function(id) {
            this.userData.manufacturer = parseInt(id);
            fetch(
                this.apiURL +
                    "manufacturer/?action=update_rating&id=" +
                    parseInt(id)
            );
        },
        selectModel: function(id) {
            this.userData.model = parseInt(id);

            var selectedBefore = !this.haveCookie;

            // Устанавливаем куку с моделью авто
            Cookies.set("car_model_id", id);
            Cookies.set("car_year", this.userData.year);
            this.haveCookie = true;

            // Обновляем рейтинг модели
            fetch(
                this.apiURL + "model/?action=update_rating&id=" + parseInt(id)
            );

            // Получаем данные и передаем в родительский элемент
            fetch(
                this.apiURL + "model/?action=get_one&id=" + this.userData.model
            )
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        this.fatalError = true;
                    }
                })
                .then((json) => {
                    if (json.status == "ok") {
                        let model = {};

                        model = json.data;
                        model.year = this.userData.year;

                        this.car = model;

                        this.$emit("selected", model, selectedBefore); //третий параметр - признак того, что авто уже было выбрано ранее в рамках этой сессии
                    } else {
                        this.fatalError = true;
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.fatalError = true;
                });
        },
        setYear: function() {
            this.yearEntered = true;
            this.models = [];
            this.getPopularModels();
        },
        clearYear: function() {
            this.yearEntered = false;
            this.allModelsFetched = false;
            this.userData.year = 0;
        },
        clearManufacturer: function() {
            this.getPopularManufacturers();
            this.userData.manufacturer = 0;
            this.allManufacturersFetched = false;
        },
        selectAnother: function() {
            Cookies.remove("car_model_id");
            Cookies.remove("car_year");

            // Делаем reset
            this.reboot();
        },
        reboot: function() {
            // Сбрасываем данные на изначальные
            Object.assign(this.$data, carChooseDefaultData());
            // Посылаем событие сброса родителю
            this.$emit("reset");
            // Начинаем загрузку
            this.boot();
        },
        yearsRange: function() {
            var years = [];
            var maxYear = new Date().getFullYear();
            var minYear = this.manufacturers[this.userData.manufacturer]
                .minimumYear;

            for (let i = maxYear; i >= minYear; i--) {
                years.push(i);
            }

            return years;
        },
    },
    computed: {
        scrollOptions: function() {
            return {
                duration: 500,
                offset: -50,
            };
        },
    },
    watch: {
        "userData.year": function() {
            if (this.userData.year != 0) {
                this.setYear();
            }
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
/*
#car-choose {
    font-size: 120%;
}
#car-choose ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#car-choose ul li {
    margin: 8px 0;
    padding: 0;
}
#car-choose a {
    padding: 5px 3px;
    border-radius: 5px;
    transition: none;
}
#car-choose a:hover, #car-choose a:focus {
    color: #e31e24;
    text-decoration: none;
}
/*#car-choose a.others:after {
    content: "\f078";
    padding-left: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
#car-choose a.go-back:before {
    content: "\f053";
    padding-right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}*/

#car-choose a.button {
    text-decoration: none;
    font-size: 120%;
    white-space: normal;
    text-align: left;
}

#car-choose a.button span.year-def/*, #car-choose .previousChoose span.year-def*/ {
    color: #b7b7b7;
    white-space: nowrap;
}
#car-choose .form-inline {
    text-align: center;
}
#car-choose .fatal-error {
    color: #e31e24;
    font-size: 90%;
}
#car-choose .fatal-error a {
    color: #e31e24;
    text-decoration: underline;
}
#car-choose .fatal-error a:hover {
    color: #000;
    text-decoration: none;
}
#car-choose select.year {
    font-size: 130%;
}

input#car-choose-year {
    font-size: 110%;
    padding: 0 20px;
    height: auto;
    border: 0;
    border-bottom: 2px dashed #c7c7c7;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    box-sizing: border-box;
    max-width: 100px;
    margin-left: 10px;
}
input#car-choose-year.has-error {
    color: #e31e24;
    border-bottom-color: #e31e24;
}

/*
#car-choose .previousChoose {
    text-align: center;
}
#car-choose .previousChoose a {
    text-decoration: none;
    font-size: 90%;
    border-bottom: 1px dashed #929292;
    color: #929292;
}
#car-choose .previousChoose a:hover {
    text-decoration: none;
    border-bottom: none;
    color: #e31e24;
}
*/

.year-wrapper {
    display: flex;
    justify-content: center;
}
.year-wrapper .field-label label {
    width: max-content;
}
</style>
