<template>
  <div class="box has-text-left">
    <div class="feature-icon has-background-info">
      <img :src="iconPath" />
    </div>
    <h3>{{header}}</h3>
    <p><slot></slot></p>
  </div>
    <!--<article class="media">
      <div class="media-left">
        <div class="feature-icon has-background-info">
          <img :src="iconPath" />
        </div>
      </div>
      <div class="media-content">
        <div class="content">
          <h3>{{header}}</h3>
          <p><slot></slot></p>
        </div>
      </div>
    </article>-->
</template>

<script>
export default {
  name: 'Feature',
  props: {
    header: String,
    text: String,
    icon: String,
    color: String,
  },
  data: function () {
    return {
      iconPath: require('./../assets/'+this.icon),
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div.feature-icon {
  display: flex;
  border-radius: 50%;
  padding: 5px;
  max-width: 80px;
  margin: 0 auto 10px;
}
h3 {
  font-size: 150%;
  font-family: "Montserrat";
  line-height: 1.2;
  margin: 0 0 10px;
}
p {
  font-size: 85%;
}

</style>
