<template>
  <div id="app">
    <section class="section header">
      <div class="container">
        <img alt="Логотип ya7auto.ru" src="./assets/logo.png" />
        <div class="navbar-container">
          <b-navbar id="nav">
            <template slot="start" class="navbar-center">
              <b-navbar-item href="#top" v-smooth-scroll="{ offset: -50 }">
                Начало
              </b-navbar-item>
              <b-navbar-item href="#features" v-smooth-scroll="{ offset: -50 }">
                Преимущества
              </b-navbar-item>
              <b-navbar-item
                href="#calculator"
                v-smooth-scroll="{ offset: -50 }"
              >
                Стоимость
              </b-navbar-item>
              <b-navbar-item
                href="#form"
                v-smooth-scroll="{ offset: -50 }"
                v-show="userData.car"
              >
                Записаться
              </b-navbar-item>
            </template>
          </b-navbar>
        </div>
      </div>
    </section>

    <section class="section" id="top">
      <div class="container">
        <div class="columns">
          <div class="column is-three-fifths car-background">
            <img src="./assets/starline.png" />
          </div>
          <div class="column has-text-left">
            <h1 class="title">Автозапуск и охрана</h1>
            <p class="subtitle">
              Лучшее решение по автозапуску и охране Вашего автомобиля по
              соотношению цена/качество
            </p>
            <b-button
              type="is-success"
              size="is-medium"
              rounded
              href="#calculator"
              tag="a"
              v-smooth-scroll="{ offset: -50 }"
              >Стоимость установки</b-button
            >
          </div>
        </div>
      </div>
    </section>

    <section class="section has-background-light " id="features">
      <div class="container">
        <h1 class="title">Преимущества StarLine A93</h1>

        <div class="columns is-multiline">
          <div class="column is-one-quarter">
            <Feature header="Автозапуск" icon="autostart.png"
              >Автозапуск позволяет осуществлять дистанционный и автоматический
              запуск двигателя по температуре, в заданное время или
              периодически</Feature
            >
          </div>
          <div class="column is-one-quarter">
            <Feature header="Охрана периметра" icon="perimeter.png"
              >Полная охрана периметра и контроль всех открываемых элементов
              кузова (двери, багажник, капот и т.д., при наличии соответствующих
              концевых выключателей)</Feature
            >
          </div>
          <div class="column is-one-quarter">
            <Feature header="Диалоговая защита" icon="dialog.png"
              >Брелки управляют сигнализацией посредством диалогового кода c
              индивидуальными ключами шифрования (128 бит), что гарантирует
              надежную защиту от всех известных кодграбберов</Feature
            >
          </div>
          <div class="column is-one-quarter">
            <Feature header="Энерго-экономичность" icon="eco.png"
              >StarLine гарантирует сохранность достаточного заряда аккумулятора
              до 60 дней в режиме охраны благодаря использованию запатентованных
              технологий и программных решений</Feature
            >
          </div>
          <div class="column is-one-quarter">
            <Feature header="3D датчик удара и наклона" icon="3d.png"
              >Встроенный цифровой датчик удара и наклона регистрирует
              поддомкрачивание и эвакуацию транспортного средства. Настраивается
              непосредственно с брелка.</Feature
            >
          </div>
          <div class="column is-one-quarter">
            <Feature
              header="Определение местоположения (опционально)"
              icon="gps.png"
              >С помощью приложения Вы сможете с точностью до нескольких метров
              узнать местонахождение своего транспортного средства. Опция
              доступна при подключении модулей GPS и GSM (приобретаются
              отдельно).</Feature
            >
          </div>
          <div class="column is-one-quarter">
            <Feature header="Управление с телефона (опционально)" icon="gsm.png"
              >Интеграция опционального GSM-интерфейса позволяет управлять
              охранными и сервисными функциями, получать оповещения о статусе
              охраны на ваш мобильный телефон (приобретается отдельно)</Feature
            >
          </div>
          <div class="column is-one-quarter">
            <Feature header="Бесключевой обход (опционально)" icon="keyless.png"
              >Наличие модуля 2CAN+2LIN позволяет сохранить два полноценных
              ключа владельцу, реализовав бесключевой обход штатного
              иммобилайзера в поддерживаемых автомобилях (модуль приобретается
              отдельно)</Feature
            >
          </div>
          <div class="column is-one-quarter">
            <Feature
              header="Управление штатной охраной (опционально)"
              icon="slave.png"
              >Управление штатной (заводской) охраной автомобиля и сигнализацией
              Starline с одного брелка с надежной диалоговой авторизацией. Опция
              доступна при интеграции 2CAN+2LIN интерфейса (приобретается
              отдельно)</Feature
            >
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="calculator">
      <div class="container">
        <h1 class="title">Стоимость установки</h1>

        <template v-if="userData.car">
          <div class="columns is-vcentered is-variable is-8-desktop">
            <div class="column is-half total">
              <p class="is-size-5 has-text-grey-light">
                На автомобиль:
                <a v-on:click="carReset" title="Выбрать другой"
                  >{{ userData.car.manufacturerName }}
                  {{ userData.car.name }}</a
                >
                ({{ userData.car.year }} г.):
              </p>
              <div class="price has-text-danger">{{ grandTotal }} руб.</div>
              <div class="price-disclaimer has-text-danger">
                Цена действительна при наличии заявки
              </div>

              <!--
              <b-rate icon-pack="fas" @change="rateMessage" v-model="userData.rate" custom-text="Ваша оценка" class="has-text-grey-light"></b-rate>
              -->

              <div class="action">
                <b-button
                  type="is-danger"
                  rounded
                  href="#form"
                  tag="a"
                  outlined
                  v-smooth-scroll="{ offset: -50 }"
                  >Записаться на установку</b-button
                >
              </div>

              <b-notification
                type="is-warning"
                has-icon
                aria-close-label="Закрыть"
                role="alert"
                :active="displayPremiumNotice"
              >
                Для выбранного Вами автомобиля цена установки может отличаться.
                Точную цену мы сможем назвать после заявки от Вас
              </b-notification>

              <b-notification
                type="is-info"
                has-icon
                aria-close-label="Закрыть"
                :active="parseInt(userData.car.haveCan)"
              >
                Выбранный Вами автомобиль оснащен цифровой шиной, необходима её
                поддержка для полноценной работы сигнализации. Мы включили
                цифровой модуль в стоимость сигнализации.
              </b-notification>

              <b-collapse
                class="card"
                animation="slide"
                aria-id="estimate"
                :open="false"
              >
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="estimate"
                >
                  <p class="card-header-title">
                    Подробный расчет
                  </p>
                  <a class="card-header-icon">
                    <b-icon :icon="props.open ? 'caret-up' : 'caret-down'">
                    </b-icon>
                  </a>
                </div>
                <div class="card-content">
                  <div class="content">
                    <b-table
                      :data="services"
                      :bordered="false"
                      :striped="false"
                      :narrowed="true"
                      :hoverable="true"
                    >
                      <template slot-scope="props">
                        <b-table-column field="name" label="Позиция">
                          {{ props.row.name }}
                        </b-table-column>

                        <b-table-column field="price" label="Стоимость">
                          {{ props.row.price }} руб.
                        </b-table-column>
                      </template>
                    </b-table>
                  </div>
                </div>
              </b-collapse>

              <b-collapse
                class="card"
                animation="slide"
                aria-id="disclaimer"
                :open="false"
              >
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="disclaimer"
                >
                  <p class="card-header-title">
                    Условия обслуживания
                  </p>
                  <a class="card-header-icon">
                    <b-icon :icon="props.open ? 'caret-up' : 'caret-down'">
                    </b-icon>
                  </a>
                </div>
                <div class="card-content">
                  <div class="content has-text-left">
                    <ul>
                      <li>
                        Скидка на монтаж предоставляется только в случае наличия
                        заявки и предъявления Вашего номера телефона в филиале,
                        который будет производить установку;
                      </li>
                      <li>
                        Указанная цена является оценочной, и не является
                        окончательной. Окончательная стоимость установки
                        называется менеджером филиала после индивидуального
                        расчёта и корректировки Вашей заявки;
                      </li>
                      <li>
                        Скидка не суммируется с другими скидками ya7auto.ru;
                      </li>
                      <li>
                        Скидка предоставляется при наличии заявки до начала
                        работ в автомобиле;
                      </li>
                      <li>
                        Скидка действительна при приобретении устройства в любых
                        магазинах ya7auto.ru
                      </li>
                      <li>Скидка предоставляется при наличном расчете</li>
                    </ul>
                  </div>
                </div>
              </b-collapse>

              <b-collapse
                class="card"
                animation="slide"
                aria-id="profits"
                :open="false"
              >
                <div
                  slot="trigger"
                  slot-scope="props"
                  class="card-header"
                  role="button"
                  aria-controls="profits"
                >
                  <p class="card-header-title">
                    Что входит в стоимость
                  </p>
                  <a class="card-header-icon">
                    <b-icon :icon="props.open ? 'caret-up' : 'caret-down'">
                    </b-icon>
                  </a>
                </div>
                <div class="card-content">
                  <div class="content has-text-left">
                    <ul>
                      <li>Монтаж центрального блока сигнализации;</li>
                      <li>Программирование базовых функций;</li>
                      <li>
                        Подключение и настройка обходчика иммобилайзера (при
                        необходимости);
                      </li>
                      <li>
                        Базовая настройка пользовательских функций
                        (чувствительность датчика удара и т.п.)
                      </li>
                    </ul>
                  </div>
                </div>
              </b-collapse>
            </div>

            <hr class="is-hidden-desktop column-delimeter" />

            <div class="column is-half options">
              <h2 class="has-text-grey">Дополнения</h2>

              <div class="columns is-multiline">
                <div
                  class="column is-full option"
                  v-for="(option, index) in options"
                  :key="index"
                >
                  <div class="control">
                    <template v-if="userData.car.haveCan == 1 && index == 3">
                      <b-switch
                        v-model="userData.options"
                        :native-value="index"
                        disabled
                        >{{ option.name }}</b-switch
                      >
                      <b-tag class="price" size="is-medium"
                        >{{ option.price }} руб.</b-tag
                      >
                    </template>
                    <template v-else-if="gpsEnabled && index == 0">
                      <b-switch
                        v-model="userData.options"
                        :native-value="index"
                        disabled
                        >{{ option.name }}</b-switch
                      >
                      <b-tag class="price" size="is-medium"
                        >{{ option.price }} руб.</b-tag
                      >
                    </template>
                    <template v-else>
                      <b-switch
                        v-model="userData.options"
                        :native-value="index"
                        >{{ option.name }}</b-switch
                      >
                      <b-tag class="price" size="is-medium"
                        >{{ option.price }} руб.</b-tag
                      >
                    </template>

                    <p class="option-description" size="is-medium">
                      {{ option.description }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
        <template v-else>
          <h2 class="has-text-grey">Выберите автомобиль</h2>
        </template>

        <CarPicker
          v-on:selected="carPicked"
          v-on:reset="carReseted"
          anchor="#calculator"
          ref="CarPicker"
        ></CarPicker>
      </div>
    </section>

    <section
      class="section has-background-light"
      id="form"
      v-show="userData.car"
    >
      <div class="container">
        <h1 class="title">Записаться на установку</h1>

        <div class="columns is-multiline is-variable is-8-desktop">
          <div class="column if-half">
            <h2>Заполните форму, ...</h2>
            <p class="has-text-left">
              И мы перезвоним Вам в ближайшее время: ответим на все вопросы,
              расскажем подробности установки и назначим дату визита.
            </p>

            <br />

            <form
              class="has-text-left"
              @submit.prevent="submitForm()"
              id="main-form"
            >
              <template
                v-if="!formSubmitted || (formSubmitted && formSubmitHaveError)"
              >
                <div class="box">
                  <b-field
                    label="Ваш номер телефона"
                    :type="{ 'is-danger': $v.userData.phone.$error }"
                    :message="phoneFieldErrors"
                  >
                    <b-input
                      icon-pack="fas"
                      icon="phone"
                      v-model.lazy="$v.userData.phone.$model"
                      v-cleave="masks.phone"
                    ></b-input>
                  </b-field>

                  <br />

                  <div class="field">
                    <b-checkbox v-model="wantToChooseBranch"
                      >Выбрать филиал</b-checkbox
                    >
                  </div>

                  <b-field v-if="wantToChooseBranch">
                    <BranchSelect
                      :branches="branches"
                      v-model="userData.branch"
                    ></BranchSelect>
                    <hr />
                  </b-field>

                  <br v-if="wantToChooseBranch" />

                  <!--
                  <div class="field">
                    <b-checkbox v-model="wantToPickDate">Выбрать дату</b-checkbox>
                  </div>

                  <b-field v-if="wantToPickDate">
                      <b-datepicker
                        placeholder="Нажмите для выбора"
                        icon="calendar-alt"
                        trap-focus>
                      </b-datepicker>
                  </b-field>
                  -->

                  <br v-if="wantToPickDate" />

                  <div class="field">
                    <b-checkbox v-model="wantToLeaveComment"
                      >Добавить комментарий</b-checkbox
                    >
                  </div>

                  <b-field v-if="wantToLeaveComment">
                    <b-input
                      type="textarea"
                      v-model="userData.comment"
                    ></b-input>
                  </b-field>
                </div>
              </template>

              <template v-if="formSubmitted && !formSubmitHaveError">
                <b-notification type="is-success" has-icon :closable="false">
                  {{ formSubmitResponse }}
                </b-notification>
              </template>

              <b-notification
                type="is-danger"
                has-icon
                aria-close-label="Закрыть"
                role="alert"
                :active="formSubmitHaveError"
              >
                К сожалению, произошла ошибка. Возможно, у Вас не стабильное
                соединение с интернетом, либо проблемы на нашей стороне.
                Попробуйте записаться ещё раз через пару минут.
              </b-notification>

              <div class="has-text-centered">
                <b-button
                  type="is-primary"
                  @click="submitForm()"
                  :disabled="formSubmitted && !formSubmitHaveError"
                  >Записаться</b-button
                >
              </div>
            </form>
          </div>

          <hr class="is-hidden-desktop column-delimeter" />

          <div class="column is-half">
            <h2>...или позвоните нам</h2>
            <p class="has-text-left">По номеру:</p>
            <div class="callUs is-size-2-desktop is-size-3">
              <a href="tel:88463002262">8 846 300-22-62</a>
            </div>
            <p class="has-text-left">
              и сообщите этот цифровой код, чтобы закрепить скидку:
            </p>
            <div class="callCode is-size-1-desktop is-size-2 box">
              <div class="columns is-vcentered">
                <div class="column">
                  <span class="code" v-bind:class="{ shade: !showCode }">{{
                    sessionCode
                  }}</span>
                </div>
                <div class="column" v-if="!showCode">
                  <b-button
                    type="is-primary"
                    v-if="!codeSubmitted"
                    outlined
                    @click="submitCode()"
                    >Показать код</b-button
                  >
                  <b-button
                    type="is-danger"
                    v-if="codeSubmitted && codeSubmitHaveError"
                    outlined
                    @click="submitCode()"
                    >Ошибка, попробуйте еще раз</b-button
                  >
                </div>
              </div>
            </div>

            <p class="has-text-left">
              В ходе разговора Вы сможете обсудить все детали и назначить дату
              установки.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <img alt="Логотип ya7auto.ru" src="./assets/logo.png" class="logo" />
      </div>
    </footer>
  </div>
</template>

<script>
import Feature from "./components/Feature.vue";
import CarPicker from "./components/CarPicker.vue";
import BranchSelect from "./components/BranchSelect.vue";
import axios from "axios";
import Cleave from "cleave.js";
require("cleave.js/dist/addons/cleave-phone.ru");
import * as Cookies from "tiny-cookie";
import VueScrollTo from "vue-scrollto";

import { required, minLength } from "vuelidate/lib/validators";

const cleave = {
  name: "cleave",
  bind(el, binding) {
    const input = el.querySelector("input");
    input._vCleave = new Cleave(input, binding.value);
  },
  unbind(el) {
    const input = el.querySelector("input");
    input._vCleave.destroy();
  },
};

export default {
  name: "App",
  directives: { cleave },
  components: {
    Feature,
    CarPicker,
    BranchSelect,
  },
  data: function() {
    return {
      userData: {
        phone: "+7 ",
        name: "—",
        car: "",
        options: [],
        rate: 0,
        branch: 0,
        alarm: {
          //legacy from mailer.php
          name: "",
          price: 0,
        },
        summaryPrice: this.grandTotal, //legacy from mailer.php
      },
      sessionCode: "",
      formSubmitted: false,
      formSubmitHaveError: false,
      formSubmitResponse: "",
      codeSubmitted: false,
      codeSubmitHaveError: false,
      codeSubmitResponse: "",
      displayPremiumNotice: false,
      options: [
        {
          name: "Управление с телефона",
          price: 3990,
          description:
            "Данный модуль даёт возможность управлять сигнализацией с Вашего мобильного телефона. В модуль устанавливается SIM-карта оператора сотовой связи. Взаимодействие происходит посредством приложения на смартфорне (Android или iOS), звонка на номер, либо посредством SMS сообщений.",
          postfix: "GSM",
        },
        {
          name: "Отслеживание местоположения",
          price: 3990,
          description:
            "Данный модуль необходим для определения точного местоположения автомобиля. После его установки у Вас появится возможность с точностью до нескольких метров видеть текущее положение, а также перемещения автомобиля. Модуль работает в паре с модулем GSM (он необходим для передачи координат на Ваше устройство)",
          postfix: "GPS",
        },
        {
          name: "Без дублирующего брелка",
          price: -1200,
          description:
            "Дополнительный брелок необходим в ситуациях, когда у Вас нет под рукой основного, либо он не работает по каким-либо причинам (сломан, села батарея). Дополнительный брелок не оснащен экраном и предназначен только для одностороннего управления сигнализацией.",
          postfix: "ECO",
        },
        {
          name: "Поддержка автомобилей с цифровой шиной",
          price: 1100,
          description:
            "Этот модуль необходим для полноценного функционирования сигнализации на автомобилях, оснащенных цифровой шиной (шина CAN и шина LIN). Завод-изготовитель автомобиля уже заложил все необходимые функции в цифровую сеть автомобиля, и для корректной работы сигнализация должна ими воспользоваться.",
          postfix: "2CAN+2LIN",
        },
      ],
      services: [
        { name: "Сигнализация StarLine A93", price: "7850" },
        { name: "Монтаж сигнализации", price: "2000" },
      ],
      branches: [
        { id: 1, name: "Фадеева, 51А" },
        { id: 2, name: "Московское ш., 16 км." },
      ],
      showCode: false,
      wantToChooseBranch: false,
      wantToPickDate: false,
      wantToLeaveComment: false,
      masks: {
        phone: {
          phone: true,
          phoneRegionCode: "RU",
        },
      },
    };
  },
  validations: {
    userData: {
      phone: {
        required,
        minLength: minLength(15),
      },
    },
  },
  computed: {
    grandTotal: function() {
      var total = 0;

      this.services.forEach((service) => {
        total = total + parseInt(service.price);
      });

      return total;
    },
    optionsTotal: function() {
      var total = 0;

      this.userData.options.forEach((item) => {
        var option;
        option = this.options[item];
        total = total + option.price;
      });

      return total;
    },
    gpsEnabled: function() {
      if (this.userData.options.indexOf(1) == -1) {
        return false;
      } else {
        return true;
      }
    },
    alarmName: function() {
      var alarmName;

      alarmName = "Сигнализация StarLine A93";

      this.userData.options.forEach((item) => {
        var option;
        option = this.options[item];
        alarmName = alarmName + " " + option.postfix;
      });

      return alarmName;
    },
    alarmPrice: function() {
      var alarmPrice;

      alarmPrice = 8050;

      this.userData.options.forEach((item) => {
        var option;
        option = this.options[item];
        alarmPrice = alarmPrice + option.price;
      });

      return alarmPrice;
    },
    mountPrice: function() {
      var priceList = [
        6000, //null category
        2400, //first category
        2900, // second category
        3400, // etc...
        3900,
        6000,
      ];

      return priceList[parseInt(this.userData.car.category)];
    },
    phoneFieldErrors: function() {
      var errors = [];

      if (this.$v.userData.phone.$error) {
        if (!this.$v.userData.phone.minLength) {
          errors.push(
            "Необходимо указать полный номер телефона с кодом сети (+7 123... или 8 123...)"
          );
        }
        if (!this.$v.userData.phone.required) {
          errors.push("Поле необходимо заполнить");
        }
      }

      return errors;
    },
  },
  watch: {
    "userData.options": function() {
      this.services[0].name = this.alarmName;
      this.services[0].price = this.alarmPrice;
      this.userData.alarm.name = this.alarmName;
      this.userData.alarm.price = this.alarmPrice;

      if (this.userData.options.indexOf(1) != -1) {
        if (this.userData.options.indexOf(0) == -1) {
          this.userData.options.push(0);
        }
      }

      this.userData.summaryPrice = this.grandTotal;
    },
  },
  methods: {
    carPicked: function(car, havePickedBefore) {
      if (havePickedBefore) {
        //если выбор автомобиля происходит впервые в рамках сессии
        VueScrollTo.scrollTo("#calculator", 200);
      }

      this.userData.car = car;

      if (
        this.userData.car.manufacturerName == "Audi" ||
        this.userData.car.manufacturerName == "Bentley" ||
        this.userData.car.manufacturerName == "BMW" ||
        this.userData.car.manufacturerName == "Lexus" ||
        this.userData.car.manufacturerName == "Porsche" ||
        this.userData.car.manufacturerName == "Jaguar" ||
        this.userData.car.manufacturerName == "Mercedes-Benz" ||
        this.userData.car.year < 2000
      ) {
        this.displayPremiumNotice = true;
      } else {
        this.displayPremiumNotice = false;
      }

      var index = this.userData.options.indexOf(3); //index of the 2CAN+2LIN option
      var haveCan = parseInt(this.userData.car.haveCan);

      if (haveCan) {
        // add option if not exists
        if (index == -1) {
          this.userData.options.push(3);
        }
      } else {
        // remove option if exists
        if (index != -1) {
          this.userData.options.splice(index, 1);
        }
      }

      this.services[1].price = this.mountPrice;
    },
    carReseted: function() {
      this.userData.car = "";
      this.userData.options = [];
    },
    carReset: function() {
      this.$refs.CarPicker.selectAnother();
    },
    rateMessage: function() {
      this.$buefy.toast.open({
        message: "Спасибо за оценку!",
        type: "is-success",
      });

      //send query to server
    },
    submitCode: function() {
      var formData = new FormData();
      formData.set("subject", "session-submit-starline-covid19");
      formData.set(
        "data",
        JSON.stringify({ sessionCode: this.sessionCode, ...this.userData })
      );

      axios({
        method: "post",
        url: "https://ya7auto.ru/mailer/mailer.php",
        data: formData,
        headers: { "Content-Type": "multipart/form-data" },
      })
        .then(() => {
          this.showCode = true;
          this.codeSubmitHaveError = false;
        })
        .catch(() => {
          this.codeSubmitHaveError = true;
        })
        .then(() => {
          this.codeSubmitted = true;
        });
    },
    submitForm: function() {
      this.$v.$touch();

      VueScrollTo.scrollTo("#main-form", 200, { offset: -80 });

      if (!this.$v.$invalid) {
        var formData = new FormData();
        formData.set("subject", "alarm-installation");
        formData.set("data", JSON.stringify(this.userData));

        //обнуляем статус отправки на случай, если отправляем форму повторно, иначе сообщение об ошибке не высветиться
        this.formSubmitResponse = "";
        this.formSubmitHaveError = false;
        this.formSubmitted = false;

        axios({
          method: "post",
          url: "https://ya7auto.ru/mailer/mailer.php",
          data: formData,
          headers: { "Content-Type": "multipart/form-data" },
        })
          .then((resp) => {
            this.formSubmitHaveError = false;
            this.formSubmitResponse = resp.data.text;
          })
          .catch(() => {
            this.formSubmitHaveError = true;
          })
          .then(() => {
            this.formSubmitted = true;
          });
      }
    },
    setSessionCode: function() {
      let code;
      code = Cookies.get("session-code");

      if (code == "" || code == null || code.length < 7) {
        var date = new Date();

        code =
          ("0" + date.getDate()).slice(-2) +
          "" +
          ("0" + (date.getMonth() + 1)).slice(-2) +
          "" +
          ("0" + Math.random() * Math.floor(2)).slice(-2);

        code = code.slice(0, 3) + "-" + code.slice(3, 6);

        Cookies.set("session-code", code);
      }

      this.sessionCode = code;
    },
  },
  mounted() {
    this.$nextTick(function() {
      window.addEventListener("scroll", function() {
        var navbar = document.getElementById("nav");
        var nav_classes = navbar.classList;
        if (document.documentElement.scrollTop >= 150) {
          if (nav_classes.contains("is-fixed-top") === false) {
            nav_classes.toggle("is-fixed-top");
          }
        } else {
          if (nav_classes.contains("is-fixed-top") === true) {
            nav_classes.toggle("is-fixed-top");
          }
        }
      });
    });

    this.setSessionCode();
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

#app {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1.title,
h1.title:not(:last-child) {
  font-size: 300%;
  margin-bottom: 80px;
  font-weight: normal;
  font-family: "Montserrat";
}
#calculator h2,
#form h2 {
  font-family: "Montserrat";
  font-size: 150%;
  font-weight: normal;
  margin: 0 0 30px;
}

nav.is-fixed-top {
  margin: 0;
}

#top {
  background-image: url("./assets/car.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}
#features {
  margin: 50px 0 0;
}

.navbar-container {
  margin: 50px 0;
  min-height: 50px;
}
.navbar-start {
  flex-grow: 1;
  justify-content: center !important;
}
.navbar .navbar-item {
  font-size: 110%;
  padding: 0 30px;
  font-family: "Montserrat", sans-serif;
}

#top h1 {
  font-size: 400%;
  font-family: "Montserrat";
  font-weight: 700;
  margin: 0 0 50px;
  line-height: 1;
}

@media (max-width: 768px) {
  #top {
    background-size: contain;
    padding-top: 80px;
  }
  #top h1 {
    font-size: 300%;
  }
  h1.title,
  h1.title:not(:last-child) {
    font-size: 200%;
    margin-bottom: 50px;
  }
  .navbar-container {
    margin: 50px 0 0;
  }
  .section.header {
    padding: 3rem 1.5rem 1.5rem;
  }
}

#top p.subtitle {
  color: #6c757d;
  font-size: 120%;
}

#top .columns {
  align-items: center;
}

#features .column {
  display: flex;
}

#calculator p.option-description {
  font-size: 80%;
  color: gray;
  margin: 10px 0 0;
  line-height: 1.5;
}
#calculator p.price {
  margin: 10px 0 40px;
}
#calculator .options .option .price {
  float: right;
}
#calculator .options .option {
  margin: 0 0 20px;
}

#calculator .total .price {
  font-family: "Montserrat";
  margin: 20px 0 20px;
  font-size: 400%;
  line-height: 1;
}
#calculator .total .action {
  margin: 40px 0 70px;
}
#calculator .total .rate {
  justify-content: center;
}

.has-background-light hr {
  background-color: #e6e6e6;
}

.callUs,
.callCode {
  font-family: "Montserrat";
  margin: 10px 0;
}

.callCode .columns .column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shade {
  pointer-events: none;
  filter: grayscale(100%);
  position: relative;
}
.shade:after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 40%;
  height: 100%;
  content: "";
  background-color: #fff;
}
.shade:before {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 60%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#fff),
    to(rgba(255, 255, 255, 0))
  );
  background: -webkit-linear-gradient(right, #fff, rgba(255, 255, 255, 0));
  background: linear-gradient(to left, #fff, rgba(255, 255, 255, 0));
  content: "";
}

.callCode .code {
  white-space: nowrap;
}
hr.column-delimeter {
  margin: 80px 0;
}

footer {
  border-top: 1px solid #bdbdbd;
}
footer img.logo {
  max-width: 150px;
  height: auto;
}
</style>
