<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.meta.keywords %>" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.meta.description %>" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>Данная страница не может работать без поддержки JavaScript в Вашем браузере. Пожалуйста, включите её, либо обновите браузер.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
